<div class="card">
  <div class="timer"></div>
  <div class="question"></div>
  <ul class="paginator-container">
    <li>○</li>
    <li>○</li>
    <li>○</li>
    <li>○</li>
    <li>○</li>
    <li>○</li>
    <li>○</li>
    <li>○</li>
    <li>○</li>
    <li>○</li>
  </ul>
  <div class="answer-container"></div>
  <div class="result success">
   <div class="result-success"></div>
    <button class="next ok logo"></button>
  </div>
  <div class="result error">
    <div class="result-error"></div>
    <button class="next ok logo"></button>
  </div>
</div>