<section class="home-page">
  <header>
    <button class="honor logo"></button>
    <button class="settings logo"></button>
  </header>
  <main>
    <div class="app_logo"></div>
    <div class="button">
      <button class="button-quiz picture"></button>
      <button class="button-quiz artist"></button>
    </div>
  </main>
  <footer>
    <a class="school_logo logo" href="https://rs.school/js/" target="_self"></a>
    <div class="name">Reni Rengi</div>
    <div class="year">2021</div>
</footer>
</section>
