@import 'variables';

.art-page {
  .timer {
    height: 5vh;
    .seconds {
      color: orange;
    }
  }

  .question-container {
    height: 85vh;

    .card {
      height: 90vh;
    }

    .question-text {
      margin-top: 2vh;
      margin-bottom: 2vh;
      height: 5vh;
      font-size: 20px;
    }

    ul {
      height: 7vh;
      width: 60%;
      margin: 0 auto;
      padding:0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li{
        list-style-type:none;
      }

      li .active {
        color: orangered;
      }
    }

    img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
    }

    .answer-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      display: block;

      button img {
        width: 100%;
        height: 30vh;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        outline: 0;
        transition: 0.3s;
        object-fit: cover;


        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }

        &:active {
          border: 0;
          outline: 0;
          transform: scale(2.3);
        }

        img {
          width: 80%;
          height: 15vh;

        }
      }

      button {
        width: 90%;
        height: 25vh;
        cursor: pointer;
        opacity: 0.8;
        outline: 0;
        transition: 0.3s;


        &:hover {
          opacity: 1;
          transform: scale(1.1);
          z-index: 100;
        }

        &:active {
          border: 0;
          outline: 0;
          transform: scale(2.3);
          z-index: 100;
        }

        p {
          width: 80%;
          height: 5vh;
          font-size: 20px;
          text-align: center;
          margin: 0;
        }
      }

      button {
        text-transform: uppercase;
        width: 45%;
        height: 8vh;
        color:black;
        background-color: orange;
        border: 2px solid black;
        font-size: 14px;

        &:hover {
          opacity: 1;
          transform: scale(1.1);
          z-index: 100;
        }

        &:active {
          border: 0;
          outline: 0;
          transform: scale(2.3);
          z-index: 100;
        }
      }
    }
  }

  .card {
    position: relative;

    .result {
      display: none;
      position: absolute;
      top:0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(#000000, 0.6);


      .result-success{
         width:100%;
         height: 80%;
         background-image: url('../../public/images/honor.png');
         background-size: cover;

      }

      .result-error{
        width:100%;
        height:80%;
        background-image: url('../../public/images/toRead.png');
        background-size: cover;

     }


    }
  }
}
