@import 'variables';

.home-page {
    background: url('../../public/images/fon.jpg') no-repeat;
    background-size: cover;

   main {

      .app_logo{
        margin-top: 30vh;
        width: 200px;
      }

      .button {
        width:60%;
        margin-top: 5vh;
        margin-right: auto;
        margin-left:auto;
        padding-top: auto;
        display:flex;
        flex-direction: column;
      }

      .button-quiz {
        width: 100%;
        height: 10vh;
        margin-right: auto;
        margin-left:auto;
        margin-bottom: 3vh;
        padding-top: auto;
        background-color: transparent;
        border: 2px solid white;
        color:white;
        font-size: 4vh;


    &:hover{
      opacity: 1;
      background-color: $font-gold;
    }

    &:active {
      outline: 0;
      transform: scale(1.1);
      }
    }

  }


}