@import 'variables';

.honors-page {
    img{
        width: 50%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h3.name{
        color:white;
        text-transform: none;
        font-size:30px;
        margin-top: 10px;
        margin-Bottom:10px;
    }

    .brif{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .cover{
      width: 50%;
      height: auto;
    }

    
.details{
      display:flex;
      flex-direction:column;
      flex-wrap: wrap;
      justify-content: center ;

      
}

    .hiddenContent {
        display:none;
        opacity: 0;
        transition: opacity 0.5s ease-out, width 0.5s ease 0.5s, height 0.5s ease 0.5s;
      }
      
      .hiddenContent.showIt {
        display:flex;
        flex-direction: column;
        opacity: 1;

         img{
          margin:0 auto;
          max-width:147px;
          height:auto;
         }
         span{
             margin-top:5vh;
             margin-bottom: 5vh;
         }
         
      }

     
}