<section class="settings-page">
  <header>
    <button class="categories logo"></button>
    <h3 class="title-settings"></h3>
    <button class="play logo"></button>
  </header>
  <main>
    <div class="language container">
      <p class="title lang"></p>
      <label><input type="radio" name="language" value="eng">English</label>
      <label><input type="radio" name="language" value="rus">Русский</label>
    </div>
    <div class="volume container">
      <p class="title vol">Volume</p>
      <button class="mute false logo" type="button"></button>
      <input type="range" min="0" max="100" value="50" step="1" class="range" id="volume" />
      <button class="mute true logo" type="button"></button>
    </div>

    <!-- Timer settings -->
    <div class="timer container">
      <p class="title time"></p>
      <label><input class="on" type="radio" name="time-game" value="on">On</label>
      <label><input class="off" type="radio" name="time-game" value="off">Off</label>
     </div>
     <div class="container button-group">
      <label class="time-game-interval"><br>
        <input type="number" name="time-game-interval" min="5" max="30" step="5" value="30"></label>
    </div>
    <div class="container save-default">
      <button class="default btn bigBtn"></button>
      <button class="save btn bigBtn"></button>
    </div>
  </main>

  <footer>
    <button class="home logo"></button>
    <button class="school_logo"></button>
    <button class="honor logo"></button>
  </footer>
</section>
