<section class="art-page">
  <header>
    <button class="back logo"></button>
    <h3 class="question-title"></h3>
    <button class="settings logo"></button>
  </header>
  <main>
    <div id="timer" class="timer">
      <div class="seconds"></div>
    </div>
    <div id="question-container" class="question-container">
      <question-card></question-card>
    </div>
    <div class="results-container">
      <results-card></results-card>
    </div>
  </main>
  <footer>
    <button class="home logo"></button>
    <a class="school_logo logo" href="https://rs.school/js/" target="_self"></a>
    <button class="honor logo"></button>
  </footer>
</section>
